---
import { echipaData } from "../../lib/echipaData";
---

<div class="container">
  <h1 class="container-header">
    “ Oamenii care fac lucrurile sa se intample ”
  </h1>
  <div class="grid-container">
    {
      echipaData.map((dataObj, index) => (
        <div
          class={
            index === 0
              ? "profile-container profile-container-main"
              : "profile-container"
          }
        >
          <img src={dataObj.image} class="image" alt={dataObj.name} />
          <h3>{dataObj.name}</h3>
          <h4>{dataObj.role}</h4>
          <h6>{dataObj.description}</h6>
        </div>
      ))
    }
  </div>
</div>

<style>
  .container {
    width: 100%;
    background-color: #16171d;
  }
  .container-header {
    margin: 0;
    color: #fff;
    padding: 1em 2em 1em 2em;
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding-bottom: 2em;
  }
  .profile-container h3 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 0.2em;
    padding-top: 0.5em;
  }
  .profile-container h4 {
    font-style: italic;
    font-size: 1rem;
    margin: 0.2em;
    text-align: center;
    letter-spacing: 0.2em;
  }
  .profile-container h6 {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0.2em;
    margin-top: 0.5em;
    padding: 0 2em 0.5em 2em;
    line-height: 1.4em;
  }
  .image {
    width: 15em;
    height: 15em;
    margin: 3px;
    border-radius: 30px;
    object-fit: contain;
  }
  @media only screen and (min-width: 680px) {
    .grid-container {
      grid-template-columns: auto auto;
    }
    .container-header {
      font-size: 1.8rem;
    }
    .image {
      width: 18em;
      height: 18em;
    }
    .profile-container h6 {
      font-size: 1.2rem;
      line-height: 1.6em;
    }
    .profile-container h4 {
      font-size: 1.2rem;
    }
    .profile-container h3 {
      font-size: 1.7rem;
    }
  }
  @media only screen and (min-width: 1024px) {
    .grid-container {
      grid-template-columns: auto auto auto;
    }
    .profile-container {
      padding-bottom: 3em;
    }
    .profile-container-main {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .image {
      width: 20em;
      height: 20em;
    }
  }
</style>
